.Photo {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 1%;
  width: 23%;
}

.Photo__imgWrapper {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.Photo__img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.Photo__title {

}

.Photo__author {

}
