.Photo {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.Photo__imgWrapper {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.Photo__img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.Photo__caption {
  margin: 10px;
}

.Photo__title,
.Photo__author,
.Photo__date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.Photo__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.Photo__author {
  color: gray;
}

.Photo__date {
  color: grey;
}

@media (min-width: 1400px) {
  .Photo {
    width: 23%;
  }

  .Photo:not(:nth-of-type(4n)) {
    margin-right: 2.666%;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .Photo {
    width: 31%;
  }

  .Photo:not(:nth-of-type(3n)) {
    margin-right: 3.5%;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .Photo {
    width: 48%;
  }

  .Photo:not(:nth-of-type(2n)) {
    margin-right: 4%;
  }
}

@media (max-width: 500px) {
  .Photo {
    width: 100%;
  }
}